//Application colors
$app-red: #7e1329;
$app-grey: #1a1a1b;
$app-pink: #8f2741;
$app-dark-pink: #7c1f3a;

$font-color-base: #fff;
$font-color-link: #fff;
$font-color-secondary: #979ba8;
$font-color-nav: #fff;
$font-color-deep-pink: #b53856;

$body-bg: #5d5d5d;
$article-bg: $app-grey;
$provider-bg: $app-pink;

$main-nav-color: $app-red;
$main-nav-selected: #5b0d1d; //TBD
$main-nav-shadow: 0 0.5rem 0.5rem 0 rgba(0,0,0,.2);

$border-base: #333334 solid 1px;
$glow-shadow: 0 0 0.8rem 0 rgba(255,255,255,.4);

/*not relevant yet*/
$shadow: 0 0.1rem 0.3rem 0 rgba(0,0,0,.4);

$button-base-bg: linear-gradient(to bottom, #fdfdfd 0%,#ececec 100%);
$button-hover: linear-gradient(to bottom, #efefef 0%,#cecece 100%);
$button-hover-border: solid #b6b6b6 0.1rem;
$button-active-inactive-bg:#979ba8;
$button-active-bg: $app-pink;
$button-border-active: solid $app-pink 0.1rem;
$button-active-hover: #00a5ea;
$button-hover-border-active: solid #0080c8 0.1rem;
$font-color-button-active: #fff;
$input-border: solid #d6d6d6 0.1rem;
$textured-button-bg: linear-gradient(to bottom, #00aded 30%,#048fc3 100%);
$focus-border: solid $app-pink 0.1rem; 
$focus-shadow: 0 0.1rem 0.3rem 0 rgba(0,174,239,.5);
$dropdown-selected: #dcedf8;

$error-border: solid #db9fa5 0.1rem;
$error-background: #f6e9e9;
$error-color: #b94a48;