@font-face {
    font-family: 'Jenson Pro';
    src: font-url('../fonts/jensonpro/AJensonPro-LtDisp.woff') format('woff'),
         font-url('../fonts/jensonpro/AJensonPro-LtDisp.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'Jenson Pro';
    src: font-url('../fonts/jensonpro/AJensonPro-Disp.woff') format('woff'),
         font-url('../fonts/jensonpro/AJensonPro-Disp.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}
@font-face {
   font-family: 'Jenson Pro';
    src: font-url('../fonts/jensonpro/AJensonPro-ItDisp.woff') format('woff'),
         font-url('../fonts/jensonpro/AJensonPro-ItDisp.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: 'Jenson Pro';
    src: font-url('../fonts/jensonpro/AJensonPro-BoldDisp.woff') format('woff'),
         font-url('../fonts/jensonpro/AJensonPro-BoldDisp.ttf') format('truetype');
    font-style: normal;
    font-weight: 600; 
}