#spread {
	.way_spread {
		display: inline-block;
		&.column {
			border: none;
			padding: 0;
		}
		img {
			display: block;
			margin: 0 auto;
		}
		p {
			text-align: center;
		}
	}
}
#overview-prevent {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			margin-bottom: 1.2rem;
		}
		.image, .description {
			display: inline-block;
		}
		.image {
			height: 6.5rem;
			width: 6.5rem;
			margin-right: 2rem;
			img {
				height: 6.5rem;
				width: 6.5rem;
				object-fit: contain;
			}
		}
		.description {
			vertical-align: top;
			width: 75%;
			margin-top: -0.4rem;
			@media (max-width: $tablet) {
				width: 90%;
			}
		}
	}
}
.column#signs {
	padding-right: 0;
	@include gradient-right;
	.text {
		width: 30%;
		padding-right: 2rem;
	}
	.signs-image {
		position: relative;
		width: 60%;
		height: 100px;
		z-index: 4;
		
		@media (max-width: $tablet) {
			min-height: 42rem;
		}
		@media (max-width: 575px) {
			min-height: 38rem;
		}
		@media (max-width: $phone) {
			min-height: 30rem;	
		}
	}
	.text, .signs-image {
		display: inline-block;
		vertical-align: top;
		@media (max-width: $tablet) {
			display: block;
			width: 90%;
		}
	}
}
.row#zika-symptoms {
	.column {
		border-left: none;
	}
	.warning {
		margin-bottom: 3rem;
	}
	.para {
		img, p {
			display: inline-block;
		}
		img {
			width: 40%;
			padding-right: 2rem;
			vertical-align: top;
			&#incubation {
				padding-top: 5rem;
			}
		}
		p {
			width: 55%;
		}
	}
	.signs-image {
		@include gradient-right;
		//margin-bottom: -7rem;
	}
	@media (max-width: $tablet) {
		.column.signs-image {
			border-top: none;
			background: transparent;
		}
		.para {
			img, p {
				display: block;
			}
			img {
				width: 100%;
				max-width: 23rem;
				margin: 0 auto;
				padding-bottom: 2rem;
				&#incubation {
					padding-top: 0;
				}
			}
			p {
				width: 100%;
			}
		}
	}
}
.row#symptoms-microcephaly {
	.column {
		border-left: none;
	}
	.warning {
		margin-bottom: 3rem;
		padding-top: 3rem;
	}
	.microceph-image {
		@include gradient-left;
		
	}
	.graph {
		h3 {
			width: 80%;
		}
		img {
			margin-top: -9rem;
		}
	}
	@media (max-width: $tablet) {
		.column { border: none;}
		.column.microceph-image {
			border-top: $border-base;
			background: transparent;
		}
	}
}
.row#where-is-zika {
	padding-top: 4rem;
	h2 {
		text-align: center;
	}
	#traveled, #now {
		padding: 0;
		margin: 0;
	}
	#traveled {
		border-top: $border-base;
		h2 {
			z-index: 5;
			//color: #323232;
		}
		img {
			//margin-top: -5rem;
			z-index: 1;
			width: 100%;
		}
	}
	#now {
		margin-top: -5rem;
		background: $app-pink;
		h2 {
			background: $app-dark-pink;
			padding: 3.5rem 5rem 2rem 5rem;
			sup a:hover {
				color: #fff;
			}
			.no-caps {
				text-transform: none;
				font-family: $font-family;
				font-size: 2.4rem;
			}
		}
		.row {
			padding: 0 5rem 5rem 5rem;
		}
		#americas, #pacific, #africa { 
			display: inline-block; 
			vertical-align: top;
			padding: 0;
			margin-right: 3rem;
			margin-top: 3rem;
			h3 { 
				margin: 0; 
				padding: 0;
				border-bottom: solid 1px #fff;
			}
		}
		ul {
			vertical-align: top;
			list-style: none;
			margin: 0;
			padding: 0;
			display: inline-block;
		}
	}
}

.row#timeline {
	overflow: hidden;
	position: relative;
	border-top:$border-base;
	.slider-header {
		margin-bottom: 5rem;
	}
	h2 {
		text-align: center;
	}
	.timeline-arrow {
		display: inline-block;
		border-radius: 3rem;
		height: 6rem;
		width: 6rem;
		margin-top: -1rem;
		&.next {
			right: 5rem;
			position: absolute;
		}
		&.prev {
			left: 5rem;
			position: absolute;
		}
		.arrow {
			height: 3rem;
			width: 1.5rem;
			display: inline-block;
		}
		&.next .arrow {
			background: url("../images/slider-arrow.png") no-repeat;
			background-position: 20% 50%;
			padding: 1.5rem;
			transform: rotate(180deg);
		}
		&.prev .arrow {
			background: url("../images/slider-arrow.png") no-repeat;
			background-position: 65% 50%;
			padding: 1.5rem;
		}
		&:hover {
			background: $app-pink;
			cursor: pointer;
		}
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		padding-left: 5rem;
		li {
			display:inline-block;
			width: 26.7rem;
			//padding: 0 2rem 0 2rem;
			vertical-align: top;
			margin-left: 5rem;
			span.year {
				font-family: $font-family-title;
				font-weight: 300;
				font-size:$font-size-title;
				padding: 0.6rem;
				margin: 0 auto;
				background: $app-pink;
				z-index: 4;
				display:table;
				margin-left: auto;
				margin-right: auto;
				margin-top: 2rem;
				margin-bottom: 2rem;
			}
			.timeline-image {
				height: 18rem;
				width: 28rem;
				border: solid #000 1px;
				img {
					height: 18rem;
					width: 28rem;
					object-fit: cover;
				}
			}
		}
	}
	.slider {
		position: relative;
		overflow: hidden;
		margin-bottom: 100px;
		ul {
			list-style: outside none;
			padding: 0;
			margin: 0;
			width: 10000%;
			position: relative;
			top: 0;
			right: 0;
			transition: all 0.6s ease;
			li {
				float: left;
			}
	    }
	}
	.line {
		height: 1.2rem;
		width: 100%;
		position: absolute;
		background: $app-pink;
		top: 20rem;
	}
}

.column#prevention {
	width: 78%;
	padding-right: 0;
	position: relative;
	#vaccinations {
		padding-right: 5rem;
	}
	.mosquito {
		background: url("../images/mosquito.svg") no-repeat;
		display: block;
		z-index: 1;
		background-size: contain;
		position: absolute;
		&#mosquito-1 {
			height: 20rem;
			width:18.6rem;
			left: 50%;
			top: 15%;
		}
		&#mosquito-2 {
			height: 35rem;
			width: 32.5rem;
			top: 40%;
			left: 20%;
		}
		&#mosquito-3 { 
			height: 40rem;
			width: 37.1rem;
			bottom: 20%;
			right: 10%;
		}
	}
	.row {
		padding-right: 0;
	}
	.column {
		border: none;
		padding: 1.5rem 5rem 1.5rem 0;
		
		.image {
			height: 9rem;
			margin-bottom: 2rem;
			img {
				display: block;	
    			margin: 0 auto;
			}
		}
	}
	@media (max-width: $tablet) {
		width: 100%;
	}
}

.column#right-spray {
	background: $app-pink;
	padding-right: 0;
	width: 22%;
	height: 100%;
	a { 
		word-break: break-all;
		&:hover {
			color: $app-grey;
		}
	}
	@media (max-width: $tablet) {
		display: block;
		width: 100%;
	}
	.sprays {
		margin: 5rem 0 5rem 0;
		h3 {
			font-family: $font-family;
			font-weight: 700;
			text-transform: none;
			line-height: $font-size-base + 1rem;
			word-break: break-all;
		}
	}
	h3, p {padding-right: 5rem;}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			width: 28%;
			padding: 0 2rem 2rem 0;
			display: inline-block;
			@media (max-width: $tablet) {
				width: 15%;
			}
			@media (max-width: $phone) {
				width: 28%;
			}
		}
	}
}

.column#transmission {
	.columns {
		padding-left: 0;
		&:last-child {
			padding-right: 0;
		}
		&.three {
			width: 25%;
			@media (max-width: $tablet) {
				display: block;
				padding-right: 0;
				width: 100%;
			}
		}
		img {
			display: block;
			margin: 0 auto;
		}
	}
}

#treatments {
	padding-top: 6rem;
	.column {
		padding: 0;
		margin: 0;
		border: none;
	}
	.treatment-header {
		background: $app-pink;
		position: relative;
		h2 {
			//padding-top: 5rem;
			//padding-bottom: 5rem;
			padding-left: 5rem;
		}
		h2, .treatment-image {
			display: inline-block;
		}
	}
	ul {
		margin-left: 0;
		padding-left: 0;
		list-style: circle;
	}

	.treatment-plan {
		border-left: $border-base;
		padding: 5rem;
	}
	#treatment-adults {
		.treatment-image img{
			position: absolute;
			right: 0;
			bottom: 0;
			padding-right: 2rem;
		}
	}
	#treatment-pregnant {
		h2 {
			margin-left: 5rem;
		}
		.treatment-image img{
			position: absolute;
			bottom: 0;
			padding-left: 2rem;
		}
	}
}

#flavivirus {
	.column {
		.column {
			border: none;
			padding-left: 0;
		}
	}
	h3 {
			font-weight: 700;
	}
	#flavivirus-zika {
		h3 {
			color: $app-pink;
		}
	}
	#flavivirus-yellow {
		h3 {
			color: #fcee6d;
		}
	}
	#flavivirus-dengue {
		h3 {
			color: #27aae1;
		}
	}
	.graph {
		h3 {
			padding-left: 9rem;
		}
		img {
			margin-top: -8rem;
		}
	}
}

#dont-know {
	.columns {
		padding-left: 0;
	}
	@media (max-width: $tablet) {
		img {
			margin-left: 35%;
		}
	}
	@media (max-width: $phone) {
		img {
			margin-left: auto;
			margin-right: auto;
		}
	}
	
}

#action-plan {
	border-top: $border-base;
	.columns.three {
		padding-left: 0;
		width: 25%;
		@media (max-width: $tablet) {
			display: block;
			width: 90%;
			padding-right: 0;
			.image img {
				padding-bottom: 2rem;
				margin-left: 35%;
			}
		}
	}
}

#references {
	ol {
		margin: 0;
		padding: 0;
	}
	a {
		word-break: normal;
	}
}