#spread {
	.way_spread {
		display: inline-block;
		&.column {
			border: none;
			padding: 0;
		}
		img {
			display: block;
			margin: 0 auto;
		}
		p {
			text-align: center;
		}
	}
}
#prevent {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			margin-bottom: 1.2rem;
		}
		.image, .description {
			display: inline-block;
		}
		.image {
			height: 4.5rem;
			width: 6.5rem;
			margin-right: 2rem;
		}
		.description {
			vertical-align: top;
			width: 75%;
			margin-top: -0.4rem;
			@media (max-width: $tablet) {
				width: 90%;
			}
		}
	}
}
.column#signs {
	padding-right: 0;
	@include gradient-right;
	.text {
		width: 30%;
		padding-right: 2rem;
	}
	.signs-image {
		position: relative;
		width: 60%;
		height: 100px;
		z-index: 4;
		
		@media (max-width: $tablet) {
			min-height: 42rem;
		}
		@media (max-width: 575px) {
			min-height: 38rem;
		}
		@media (max-width: $phone) {
			min-height: 30rem;	
		}
	}
	.text, .signs-image {
		display: inline-block;
		vertical-align: top;
		@media (max-width: $tablet) {
			display: block;
			width: 90%;
		}
	}
}
.row#zika-symptoms {
	.column {
		border-left: none;
	}
	.signs-image {
		@include gradient-right;
	}
	@media (max-width: $tablet) {
		.column.signs-image {
			border-top: none;
			background: transparent;
		}
	}
}
.row#symptoms-microcephaly {
	.column {
		border-left: none;
	}
	.microceph-image {
		@include gradient-left;
	}
	@media (max-width: $tablet) {
		.column { border: none;}
		.column.microceph-image {
			border-top: $border-base;
			background: transparent;
		}
	}
}
.row#where-is-zika {
	h2 {
		text-align: center;
	}
	#traveled, #now {
		padding: 0;
		margin: 0;
	}
	#traveled {
		h2 {
			z-index: 5;
			//color: #323232;
		}
		img {
			//margin-top: -5rem;
			z-index: 1;
			width: 100%;
		}
	}
	#now {
		margin-top: -5rem;
		background: $app-pink;
		padding: 0 5rem 5rem 5rem;
		h2 span {
			background: rgba(42,42,42,.7);
			padding-left: 2rem;
			padding-right: 2rem;
			sup a:hover {
				color: #fff;
			}
		}
		
		#americas, #pacific, #africa { 
			display: inline-block; 
			vertical-align: top;
			padding: 0;
			margin-right: 3rem;
			margin-top: 3rem;
			h3 { 
				margin: 0; 
				padding: 0;
				border-bottom: solid 1px #fff;
			}
		}
		ul {
			vertical-align: top;
			list-style: none;
			margin: 0;
			padding: 0;
			display: inline-block;
		}
	}
}

.row#timeline {
	overflow: hidden;
	position: relative;
	border-top:$border-base;
	.slider-header {
		margin-bottom: 5rem;
	}
	h2 {
		text-align: center;
	}
	.timeline-arrow {
		display: inline-block;
		border-radius: 3rem;
		height: 6rem;
		width: 6rem;
		margin-top: -1rem;
		&.next {
			right: 5rem;
			position: absolute;
		}
		&.prev {
			left: 5rem;
			position: absolute;
		}
		.arrow {
			height: 3rem;
			width: 1.5rem;
			display: inline-block;
		}
		&.next .arrow {
			background: url("../images/slider-arrow.png") no-repeat;
			background-position: 20% 50%;
			padding: 1.5rem;
			transform: rotate(180deg);
		}
		&.prev .arrow {
			background: url("../images/slider-arrow.png") no-repeat;
			background-position: 65% 50%;
			padding: 1.5rem;
		}
		&:hover {
			background: $app-pink;
			cursor: pointer;
		}
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		padding-left: 5rem;
		li {
			display:inline-block;
			width: 26.7rem;
			//padding: 0 2rem 0 2rem;
			vertical-align: top;
			margin-left: 5rem;
			span.year {
				font-family: $font-family-title;
				font-weight: 300;
				font-size:$font-size-title;
				padding: 0.6rem;
				margin: 0 auto;
				background: $app-pink;
				z-index: 4;
				display:table;
				margin-left: auto;
				margin-right: auto;
				margin-top: 2rem;
				margin-bottom: 2rem;
			}
			.timeline-image {
				height: 18rem;
				width: 28rem;
				border: solid #000 1px;
				img {
					height: 18rem;
					width: 28rem;
					object-fit: cover;
				}
			}
		}
	}
	.slider {
		position: relative;
		overflow: hidden;
		margin-bottom: 100px;
		ul {
			list-style: outside none;
			padding: 0;
			margin: 0;
			width: 10000%;
			position: relative;
			top: 0;
			right: 0;
			transition: all 0.6s ease;
			li {
				float: left;
			}
	    }
	}
	.line {
		height: 1.2rem;
		width: 100%;
		position: absolute;
		background: $app-pink;
		top: 20rem;
	}
}

.column#prevention {
	width: 78%;
	padding-right: 0;
	.column {
		border: none;
		padding: 0 5rem 3rem 0;
		.image {
			height: 9rem;
			margin-bottom: 2rem;
			img {
				display: block;	
    			margin: 0 auto;
			}
		}
	}
	@media (max-width: $tablet) {
		width: 100%;
	}
}

.column#right-spray {
	background: $app-pink;
	padding-right: 0;
	width: 22%;
	height: 100%;
	@media (max-width: $tablet) {
		display: block;
		width: 100%;
	}
	.sprays {
		margin: 5rem 0 5rem 0;
		h3 {
			font-family: $font-family;
			font-weight: 700;
			text-transform: none;
			line-height: $font-size-base + 1rem;
		}
	}
	h3, p {padding-right: 5rem;}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			width: 28%;
			padding: 0 2rem 2rem 0;
			display: inline-block;
			
		}
	}
}

.column#transmission {
	.columns {
		padding-left: 0;
		&:last-child {
			padding-right: 0;
		}
		&.three {
			width: 25%;
			@media (max-width: $tablet) {
				display: block;
				padding-right: 0;
				width: 100%;
			}
		}
		img {
			display: block;
			margin: 0 auto;
		}
	}
}

#treatments {
	.column {
		padding: 0;
		margin: 0;
		border: none;
	}
	.treatment-header {
		background: $app-pink;
		position: relative;
		h2 {
			//padding-top: 5rem;
			//padding-bottom: 5rem;
			padding-left: 5rem;
		}
		h2, .treatment-image {
			display: inline-block;
		}
	}
	ul {
		margin-left: 0;
		padding-left: 0;
		list-style: circle;
	}

	.treatment-plan {
		border-left: $border-base;
		padding: 5rem;
	}
	#treatment-adults {
		.treatment-image img{
			position: absolute;
			right: 0;
			bottom: 0;
			padding-right: 2rem;
		}
	}
	#treatment-pregnant {
		h2 {
			margin-left: 5rem;
		}
		.treatment-image img{
			position: absolute;
			bottom: 0;
			padding-left: 2rem;
		}
	}
}

#action-plan {
	border-top: $border-base;
	h2 {
		padding-left: 5rem;
	}
	.columns.three {
		width: 25%;
		@media (max-width: $tablet) {
			display: block;
			width: 90%;
		}
	}
}

#references {
	ol {
		margin: 0;
		padding: 0;
	}
	a {
		word-break: normal;
	}
}