html {
	font-size: 62.5%; /*base 10*/
}

$font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$font-family-title: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
$font-size-small: 1.4rem; /* =12px */
$font-size-base: 1.8rem; /* =20pt */
$font-size-small-title: 2.4rem; /* =14px */
$font-size-title: 3.8rem; /* =38px */
$font-size-large-title: 3.0rem; /* = 24px*/
$line-height-base: $font-size-base + 1rem; /*=16px*/
$line-height-title: $font-size-title; /*22px*/
$line-height-title-large: 2.8rem; /* 28px */

body {
	font-family: $font-family;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $font-color-base;
	font-weight: 300;
}

a {
	color: $font-color-link;
	word-break: break-all;

	&:hover {
		color: #323232;
	}
}
sup {
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}
h1, h2, h3 {
	font-family: $font-family-title;
	font-weight: 300;
	text-transform: uppercase;

}
h1 {
	font-size:$font-size-large-title;
	line-height: $line-height-title-large;
}
h2 {
	font-size:$font-size-title;
	line-height: $line-height-title;
	sup {
		font-size: 1.6rem;
		padding-left: 0.6rem;
		top: -0.6rem;
	}
}
h3 {
	font-size: $font-size-small-title;
	line-height: $line-height-title;
}
@media (max-width: $phone) {
	h1 {
		font-size:$font-size-title;
		line-height: $line-height-title;
	}
	h2 {
		font-size: $font-size-small-title;
		line-height: $line-height-title;
	}
}
p {
	padding-top: 0;
	margin-top: 0;
	sup {
		font-size: 1.2rem;
		padding-left: 0.4rem;
		top: -0.6rem;
		a {
			text-decoration: none;
		}
	}
}
strong {
	font-weight: 700;
}

.secondary {
	color: $font-color-secondary;
}
.warning {
	color: $font-color-deep-pink;
	text-transform: uppercase;
}
.arrow {
	color: $font-color-deep-pink;
}