/* variables */
/* mix-ins */
/*not relevant yet*/
@font-face {
  font-family: 'Jenson Pro';
  src: font-url("../fonts/jensonpro/AJensonPro-LtDisp.woff") format("woff"), font-url("../fonts/jensonpro/AJensonPro-LtDisp.ttf") format("truetype");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: 'Jenson Pro';
  src: font-url("../fonts/jensonpro/AJensonPro-Disp.woff") format("woff"), font-url("../fonts/jensonpro/AJensonPro-Disp.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'Jenson Pro';
  src: font-url("../fonts/jensonpro/AJensonPro-ItDisp.woff") format("woff"), font-url("../fonts/jensonpro/AJensonPro-ItDisp.ttf") format("truetype");
  font-style: italic;
  font-weight: 400; }

@font-face {
  font-family: 'Jenson Pro';
  src: font-url("../fonts/jensonpro/AJensonPro-BoldDisp.woff") format("woff"), font-url("../fonts/jensonpro/AJensonPro-BoldDisp.ttf") format("truetype");
  font-style: normal;
  font-weight: 600; }

html {
  font-size: 62.5%;
  /*base 10*/ }

/* =12px */
/* =20pt */
/* =14px */
/* =38px */
/* = 24px*/
/*=16px*/
/*22px*/
/* 28px */
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #fff;
  font-weight: 300; }

a {
  color: #fff;
  word-break: break-all; }
  a:hover {
    color: #323232; }

sup a {
  text-decoration: none; }
  sup a:hover {
    text-decoration: underline; }

h1, h2, h3 {
  font-family: "Open Sans Condensed", Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-transform: uppercase; }

h1 {
  font-size: 3rem;
  line-height: 2.8rem; }

h2 {
  font-size: 3.8rem;
  line-height: 3.8rem; }
  h2 sup {
    font-size: 1.6rem;
    padding-left: 0.6rem;
    top: -0.6rem; }

h3 {
  font-size: 2.4rem;
  line-height: 3.8rem; }

@media (max-width: 487px) {
  h1 {
    font-size: 3.8rem;
    line-height: 3.8rem; }
  h2 {
    font-size: 2.4rem;
    line-height: 3.8rem; } }

p {
  padding-top: 0;
  margin-top: 0; }
  p sup {
    font-size: 1.2rem;
    padding-left: 0.4rem;
    top: -0.6rem; }
    p sup a {
      text-decoration: none; }

strong {
  font-weight: 700; }

.secondary {
  color: #979ba8; }

.warning {
  color: #b53856;
  text-transform: uppercase; }

.arrow {
  color: #b53856; }

/* Grid */
body {
  margin: 0;
  padding: 0;
  background: #5d5d5d; }

.container {
  position: relative;
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box; }

.column, .columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
  padding: 2rem 5rem 5rem 5rem; }

/* For devices larger than 550px */
@media (min-width: 550px) {
  /*.container {
    width: 80%; } //for a centered page*/
  /*.column,
  .columns {
    margin-left: 4%; }*/
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }
  .one.column,
  .one.columns {
    width: 4.66666666667%; }
  .two.columns {
    width: 13.3333333333%; }
  .three.columns {
    width: 22%; }
  .four.columns {
    width: 30.6666666667%; }
  .five.columns {
    width: 39.3333333333%; }
  .six.columns {
    width: 48%; }
  .seven.columns {
    width: 56.6666666667%; }
  .eight.columns {
    width: 65.3333333333%; }
  .nine.columns {
    width: 74.0%; }
  .ten.columns {
    width: 82.6666666667%; }
  .eleven.columns {
    width: 91.3333333333%; }
  .twelve.columns {
    width: 100%;
    margin-left: 0; }
  .one-third.column {
    width: 30.6666666667%; }
  .two-thirds.column {
    width: 65.3333333333%; }
  .one-half.column {
    width: 50%; } }

@media (max-width: 767px) {
  .column, .columns {
    float: none;
    width: 100%; }
  .one.column,
  .one.columns,
  .two.columns,
  .three.columns,
  .four.columns,
  .five.columns,
  .six.columns,
  .seven.columns,
  .eight.columns,
  .nine.columns,
  .ten.columns,
  .eleven.columns,
  .twelve.columns,
  .one-third.column,
  .two-thirds.column,
  .one-half.column {
    width: 100%; } }

img.scale-with-grid {
  max-width: 100%;
  height: auto; }

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

/* Application styles */
.providers {
  display: block;
  position: absolute;
  right: 0;
  background: #8f2741;
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
  border-radius: 1.2rem;
  padding: 1.2rem 1.9rem 1.2rem 1.9rem;
  font-size: 1.8rem;
  z-index: 3; }

nav {
  position: fixed;
  top: 0;
  width: 90%;
  max-width: 1500px;
  z-index: 15;
  opacity: 0;
  transition: opacity .5s; }
  nav.scrolled {
    opacity: 1;
    transition: opacity .5s; }
  nav .menu {
    z-index: 10;
    -webkit-box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.2);
    display: block;
    background: #7e1329;
    color: #fff;
    font-size: 1.8rem;
    position: relative; }
    @media (max-width: 767px) {
      nav .menu {
        z-index: 6; } }
    nav .menu ul {
      list-style: none;
      display: inline-block;
      margin: 0;
      padding: 0; }
      @media (max-width: 480px) {
        nav .menu ul {
          height: 100%;
          min-width: 15.0rem; } }
      @media (max-width: 767px) {
        nav .menu ul.opened li {
          display: block; } }
      nav .menu ul li {
        display: inline-block;
        cursor: pointer;
        padding: 2.1rem 2rem 2.1rem 2rem;
        line-height: 2.2rem;
        box-sizing: border-box;
        -webkit-user-select: none;
        /* Chrome all / Safari all */
        -moz-user-select: none;
        /* Firefox all */
        -ms-user-select: none;
        /* IE 10+ */
        user-select: none; }
        @media (max-width: 480px) {
          nav .menu ul li {
            display: block;
            padding-left: 2.0rem;
            background: #7e1329; } }
        @media (max-width: 767px) {
          nav .menu ul li {
            display: none; }
            nav .menu ul li#page-title, nav .menu ul li#expand {
              display: inline-block; } }
        nav .menu ul li#page-title, nav .menu ul li#expand {
          display: inline-block; }
        nav .menu ul li#page-title {
          padding-left: 5rem;
          padding-right: 2rem; }
        nav .menu ul li#expand {
          display: none;
          line-height: 2.2rem; }
          nav .menu ul li#expand:hover {
            background: #5b0d1d; }
          @media (max-width: 767px) {
            nav .menu ul li#expand {
              display: inline-block; } }
        nav .menu ul li:hover {
          background: #5b0d1d; }
        nav .menu ul li a {
          text-decoration: none;
          color: #fff; }
          nav .menu ul li a:hover {
            text-decoration: none; }
        nav .menu ul li.active {
          background: #5b0d1d; }
  nav .providers {
    -webkit-border-radius: 0rem;
    -moz-border-radius: 0rem;
    border-radius: 0rem;
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    z-index: 3; }

.header {
  z-index: 1;
  position: relative;
  background: #7e1329;
  background: url("../images/header.png");
  background-size: cover;
  background-position: center center;
  height: 37.6rem;
  -webkit-box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.2); }
  .header .title {
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    padding-top: 6.0rem; }
    .header .title #title-understanding {
      display: block;
      font-size: 5.5rem;
      line-height: 5.5rem; }
      @media (max-width: 487px) {
        .header .title #title-understanding {
          font-size: 3.8rem;
          line-height: 3.8rem; } }
    .header .title #title-zika {
      display: block;
      font-size: 23.0rem;
      line-height: 20.0rem; }
      @media (max-width: 487px) {
        .header .title #title-zika {
          font-size: 17.0rem;
          line-height: 13.0rem; } }
  .header .header-note {
    font-size: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 2.0rem;
    margin-top: 2.0rem; }
  .header .providers {
    bottom: 0;
    margin-bottom: -2rem;
    -webkit-box-shadow: 0 0 0.8rem 0 rgba(255, 255, 255, 0.4);
    -moz-box-shadow: 0 0 0.8rem 0 rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 0.8rem 0 rgba(255, 255, 255, 0.4); }

.article {
  z-index: 1;
  background: #1a1a1b; }
  .article h2 {
    text-transform: uppercase; }
  .article p {
    font-size: 1.8rem;
    line-height: 2.8rem; }
  .article .column {
    border-left: #333334 solid 1px;
    border-top: #333334 solid 1px; }

.references {
  word-break: break-all; }

.footer span {
  font-size: 1.4rem;
  margin: 3.5rem;
  margin-left: 5rem;
  display: block; }

/* Larger than mobile */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
#spread .way_spread {
  display: inline-block; }
  #spread .way_spread.column {
    border: none;
    padding: 0; }
  #spread .way_spread img {
    display: block;
    margin: 0 auto; }
  #spread .way_spread p {
    text-align: center; }

#prevent ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  #prevent ul li {
    margin-bottom: 1.2rem; }
  #prevent ul .image, #prevent ul .description {
    display: inline-block; }
  #prevent ul .image {
    height: 4.5rem;
    width: 6.5rem;
    margin-right: 2rem; }
  #prevent ul .description {
    vertical-align: top;
    width: 75%;
    margin-top: -0.4rem; }
    @media (max-width: 767px) {
      #prevent ul .description {
        width: 90%; } }

.column#signs {
  padding-right: 0;
  background: -moz-linear-gradient(left, #1a1a1b 0%, #313131 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #1a1a1b 0%, #313131 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #1a1a1b 0%, #313131 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
  .column#signs .text {
    width: 30%;
    padding-right: 2rem; }
  .column#signs .signs-image {
    position: relative;
    width: 60%;
    height: 100px;
    z-index: 4; }
    @media (max-width: 767px) {
      .column#signs .signs-image {
        min-height: 42rem; } }
    @media (max-width: 575px) {
      .column#signs .signs-image {
        min-height: 38rem; } }
    @media (max-width: 487px) {
      .column#signs .signs-image {
        min-height: 30rem; } }
  .column#signs .text, .column#signs .signs-image {
    display: inline-block;
    vertical-align: top; }
    @media (max-width: 767px) {
      .column#signs .text, .column#signs .signs-image {
        display: block;
        width: 90%; } }

.row#zika-symptoms .column {
  border-left: none; }

.row#zika-symptoms .signs-image {
  background: -moz-linear-gradient(left, #1a1a1b 0%, #313131 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #1a1a1b 0%, #313131 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #1a1a1b 0%, #313131 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }

.row#symptoms-microcephaly .column {
  border-left: none; }

.row#symptoms-microcephaly .microceph-image {
  background: -moz-linear-gradient(left, #313131 0%, #1a1a1b 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #313131 0%, #1a1a1b 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #313131 0%, #1a1a1b 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }

.row#where-is-zika h2 {
  text-align: center; }

.row#where-is-zika #traveled, .row#where-is-zika #now {
  padding: 0;
  margin: 0; }

.row#where-is-zika #traveled h2 {
  z-index: 5; }

.row#where-is-zika #traveled img {
  z-index: 1;
  width: 100%; }

.row#where-is-zika #now {
  margin-top: -5rem;
  background: #8f2741;
  padding: 0 5rem 5rem 5rem; }
  .row#where-is-zika #now h2 span {
    background: rgba(42, 42, 42, 0.7);
    padding-left: 2rem;
    padding-right: 2rem; }
    .row#where-is-zika #now h2 span sup a:hover {
      color: #fff; }
  .row#where-is-zika #now #americas, .row#where-is-zika #now #pacific, .row#where-is-zika #now #africa {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin-right: 3rem; }
    .row#where-is-zika #now #americas h3, .row#where-is-zika #now #pacific h3, .row#where-is-zika #now #africa h3 {
      margin: 0;
      padding: 0;
      border-bottom: solid 1px #fff; }
  .row#where-is-zika #now ul {
    vertical-align: top;
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block; }

.row#timeline {
  overflow: hidden;
  position: relative;
  border-top: #333334 solid 1px; }
  .row#timeline .slider-header {
    margin-bottom: 5rem; }
  .row#timeline h2 {
    text-align: center; }
  .row#timeline .timeline-arrow {
    display: inline-block;
    border-radius: 3rem;
    height: 6rem;
    width: 6rem;
    margin-top: -1rem; }
    .row#timeline .timeline-arrow.next {
      right: 5rem;
      position: absolute; }
    .row#timeline .timeline-arrow.prev {
      left: 5rem;
      position: absolute; }
    .row#timeline .timeline-arrow .arrow {
      height: 3rem;
      width: 1.5rem;
      display: inline-block; }
    .row#timeline .timeline-arrow.next .arrow {
      background: url("../images/slider-arrow.png") no-repeat;
      background-position: 20% 50%;
      padding: 1.5rem;
      transform: rotate(180deg); }
    .row#timeline .timeline-arrow.prev .arrow {
      background: url("../images/slider-arrow.png") no-repeat;
      background-position: 65% 50%;
      padding: 1.5rem; }
    .row#timeline .timeline-arrow:hover {
      background: #8f2741;
      cursor: pointer; }
  .row#timeline ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 5rem; }
    .row#timeline ul li {
      display: inline-block;
      width: 26.7rem;
      vertical-align: top;
      margin-left: 5rem; }
      .row#timeline ul li span.year {
        font-family: "Open Sans Condensed", Helvetica, Arial, sans-serif;
        font-weight: 300;
        font-size: 3.8rem;
        padding: 0.6rem;
        margin: 0 auto;
        background: #8f2741;
        z-index: 4;
        display: table;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        margin-bottom: 2rem; }
      .row#timeline ul li .timeline-image {
        height: 18rem;
        width: 28rem;
        border: solid #000 1px; }
        .row#timeline ul li .timeline-image img {
          height: 18rem;
          width: 28rem;
          object-fit: cover; }
  .row#timeline .slider {
    position: relative;
    overflow: hidden;
    margin-bottom: 100px; }
    .row#timeline .slider ul {
      list-style: outside none;
      padding: 0;
      margin: 0;
      width: 10000%;
      position: relative;
      top: 0;
      right: 0;
      transition: all 0.6s ease; }
      .row#timeline .slider ul li {
        float: left; }
  .row#timeline .line {
    height: 1.2rem;
    width: 100%;
    position: absolute;
    background: #8f2741;
    top: 20rem; }

.column#prevention {
  width: 78%;
  padding-right: 0; }
  .column#prevention .column {
    border: none;
    padding: 0 5rem 3rem 0; }
    .column#prevention .column .image {
      height: 9rem;
      margin-bottom: 2rem; }
      .column#prevention .column .image img {
        display: block;
        margin: 0 auto; }
  @media (max-width: 767px) {
    .column#prevention {
      width: 100%; } }

.column#right-spray {
  background: #8f2741;
  padding-right: 0;
  width: 22%;
  height: 100%; }
  @media (max-width: 767px) {
    .column#right-spray {
      display: block;
      width: 100%; } }
  .column#right-spray .sprays {
    margin: 5rem 0 5rem 0; }
    .column#right-spray .sprays h3 {
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-weight: 700;
      text-transform: none;
      line-height: 2.8rem; }
  .column#right-spray h3, .column#right-spray p {
    padding-right: 5rem; }
  .column#right-spray ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .column#right-spray ul li {
      width: 28%;
      padding: 0 2rem 2rem 0;
      display: inline-block; }

.column#transmission .columns {
  padding-left: 0; }
  .column#transmission .columns:last-child {
    padding-right: 0; }
  .column#transmission .columns.three {
    width: 25%; }
    @media (max-width: 767px) {
      .column#transmission .columns.three {
        display: block;
        padding-right: 0;
        width: 100%; } }
  .column#transmission .columns img {
    display: block;
    margin: 0 auto; }

#treatments .column {
  padding: 0;
  margin: 0;
  border: none; }

#treatments .treatment-header {
  background: #8f2741;
  position: relative; }
  #treatments .treatment-header h2 {
    padding-left: 5rem; }
  #treatments .treatment-header h2, #treatments .treatment-header .treatment-image {
    display: inline-block; }

#treatments ul {
  margin-left: 0;
  padding-left: 0;
  list-style: circle; }

#treatments .treatment-plan {
  border-left: #333334 solid 1px;
  padding: 5rem; }

#treatments #treatment-adults .treatment-image img {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: 2rem; }

#treatments #treatment-pregnant h2 {
  margin-left: 5rem; }

#treatments #treatment-pregnant .treatment-image img {
  position: absolute;
  bottom: 0;
  padding-left: 2rem; }

#action-plan {
  border-top: #333334 solid 1px; }
  #action-plan h2 {
    padding-left: 5rem; }
  #action-plan .columns.three {
    width: 25%; }
    @media (max-width: 767px) {
      #action-plan .columns.three {
        display: block;
        width: 90%; } }
