/* variables */
/* mix-ins */
/*not relevant yet*/
@font-face {
  font-family: 'Jenson Pro';
  src: font-url("../fonts/jensonpro/AJensonPro-LtDisp.woff") format("woff"), font-url("../fonts/jensonpro/AJensonPro-LtDisp.ttf") format("truetype");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: 'Jenson Pro';
  src: font-url("../fonts/jensonpro/AJensonPro-Disp.woff") format("woff"), font-url("../fonts/jensonpro/AJensonPro-Disp.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'Jenson Pro';
  src: font-url("../fonts/jensonpro/AJensonPro-ItDisp.woff") format("woff"), font-url("../fonts/jensonpro/AJensonPro-ItDisp.ttf") format("truetype");
  font-style: italic;
  font-weight: 400; }

@font-face {
  font-family: 'Jenson Pro';
  src: font-url("../fonts/jensonpro/AJensonPro-BoldDisp.woff") format("woff"), font-url("../fonts/jensonpro/AJensonPro-BoldDisp.ttf") format("truetype");
  font-style: normal;
  font-weight: 600; }

html {
  font-size: 62.5%;
  /*base 10*/ }

/* =12px */
/* =20pt */
/* =14px */
/* =38px */
/* = 24px*/
/*=16px*/
/*22px*/
/* 28px */
body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #fff;
  font-weight: 300; }

a {
  color: #fff;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

h1 {
  font-size: 3rem;
  line-height: 2.8rem;
  font-weight: 300; }

h2 {
  font-size: 3.8rem;
  line-height: 3.8rem;
  font-weight: 300; }

h3 {
  font-size: 1.8rem;
  line-height: 3.8rem;
  font-weight: 300; }

strong {
  font-weight: 700; }

.secondary {
  color: #979ba8; }

.icon {
  display: inline-block;
  width: 2em;
  height: 2em;
  fill: currentColor; }
  .icon.icon-Navigationdown {
    width: 1.0rem;
    height: 1.0rem;
    padding-left: 0.5rem; }

button, .button {
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  border-radius: 0.2rem;
  background: linear-gradient(to bottom, #fdfdfd 0%, #ececec 100%);
  color: #fff;
  height: 2.7rem;
  border: solid #d6d6d6 0.1rem;
  padding: 0 0.9rem 0 0.9rem; }
  button:hover:enabled, .button:hover:enabled {
    background: linear-gradient(to bottom, #efefef 0%, #cecece 100%);
    border: solid #b6b6b6 0.1rem;
    cursor: pointer; }
  button:focus:enabled, .button:focus:enabled {
    border: solid #8f2741 0.1rem;
    box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 174, 239, 0.5);
    cursor: pointer; }
  button:disabled, .button:disabled {
    opacity: .5; }
  button span, .button span {
    padding-right: 0.7rem;
    color: #fff; }
  button.active, .button.active {
    background: #8f2741;
    color: #fff;
    font-weight: bold;
    border: solid #8f2741 0.1rem; }
    button.active:hover:enabled, .button.active:hover:enabled {
      background: #00a5ea;
      border: solid #0080c8 0.1rem; }
    button.active:focus:enabled, .button.active:focus:enabled {
      border: solid #8f2741 0.1rem;
      box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 174, 239, 0.5); }
    button.active span, .button.active span {
      color: #fff; }

input, input[type="text"] {
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  border-radius: 0.2rem;
  border: solid #d6d6d6 0.1rem;
  height: 2.7rem;
  padding: 0 0.9rem 0 0.9rem; }
  input:hover:enabled, input[type="text"]:hover:enabled {
    border: solid #b6b6b6 0.1rem; }
  input:focus:enabled, input[type="text"]:focus:enabled {
    border: solid #8f2741 0.1rem;
    box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 174, 239, 0.5); }
  input:disabled, input[type="text"]:disabled {
    opacity: .5;
    background: #f0f0f0;
    border: solid 0.1rem #eaeaea; }

textarea {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  overflow: auto;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  border-radius: 0.2rem;
  border: solid #d6d6d6 0.1rem;
  padding: 0.9rem 0.9rem 0.9rem 0.9rem; }
  textarea:hover:enabled {
    border: solid #b6b6b6 0.1rem; }
  textarea:focus:enabled {
    border: solid #8f2741 0.1rem;
    box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 174, 239, 0.5); }
  textarea:disabled {
    opacity: .5;
    background: #f0f0f0;
    border: solid 0.1rem #eaeaea; }

.radio input[type="radio"] {
  display: none; }
  .radio input[type="radio"]:checked + label:before {
    content: "\2022";
    font-size: 2.4rem;
    color: #979ba8;
    text-align: center;
    line-height: 1.2rem; }

.radio label:before {
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  border-radius: 0.8rem;
  width: 1.2rem;
  height: 1.2rem; }
  .radio label:before:focus, .radio label:before:hover {
    border: solid #8f2741 0.1rem;
    box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 174, 239, 0.5); }

.checkbox input[type="checkbox"] {
  display: none; }
  .checkbox input[type="checkbox"]:checked + label:before {
    background: url("../images/svgs/imsHealth_icons_checked.svg") no-repeat;
    background-position: center center; }

.checkbox label:before {
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  border-radius: 0.2rem;
  width: 1.0rem;
  height: 1.0rem; }

.radio label, .checkbox label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 2.0rem;
  font-size: 1.8rem;
  color: #fff;
  top: -0.4rem;
  line-height: 1.8rem; }
  .radio label:before, .checkbox label:before {
    content: "";
    display: inline-block;
    text-align: top;
    margin-right: 0.6rem;
    position: absolute;
    left: 0;
    background-color: #fff;
    border: solid #d6d6d6 0.1rem; }
  .radio label:focus:before, .radio label:hover:before, .checkbox label:focus:before, .checkbox label:hover:before {
    border: solid #8f2741 0.1rem;
    box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 174, 239, 0.5); }

.radio.disabled, .checkbox.disabled {
  opacity: .5; }
  .radio.disabled label:before, .checkbox.disabled label:before {
    border: solid 0.1rem #e5e5e5;
    background: #f0f0f0;
    box-shadow: none; }
  .radio.disabled label:focus, .radio.disabled label:hover, .checkbox.disabled label:focus, .checkbox.disabled label:hover {
    cursor: default; }

.select select {
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  border-radius: 0.2rem;
  background: linear-gradient(to bottom, #fdfdfd 0%, #ececec 100%);
  border: solid #d6d6d6 0.1rem;
  height: 2.7rem;
  padding: 0 1.8rem 0 0.6rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer; }
  .select select::-ms-expand {
    display: none; }
  .select select:hover:enabled {
    background: linear-gradient(to bottom, #efefef 0%, #cecece 100%);
    border: solid #b6b6b6 0.1rem; }
    .select select:hover:enabled label:after {
      background: url("../images/svgs/imsHealth_icons_input-drop-arrow-dark.svg") no-repeat; }
  .select select:focus:enabled {
    border: solid #8f2741 0.1rem;
    box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 174, 239, 0.5); }
  .select select:disabled {
    opacity: .5; }

.select label {
  position: relative; }

.select label:after {
  content: '';
  background: url("../images/svgs/imsHealth_icons_input-drop-arrow.svg") no-repeat;
  right: -1.2rem;
  top: 0.4rem;
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  pointer-events: none; }

.inputGroup {
  vertical-align: top; }
  .inputGroup p {
    margin-bottom: -0.4rem; }
  .inputGroup p:last-child {
    margin-bottom: -1.0rem; }
  .inputGroup .label {
    color: #979ba8;
    margin-bottom: 1.0rem; }
  .inputGroup.required .asterisk {
    color: #de5741; }
  .inputGroup.error .label {
    color: #b94a48; }
  .inputGroup.error input {
    border: solid #db9fa5 0.1rem;
    background: #f6e9e9;
    color: #b94a48; }
    .inputGroup.error input:focus {
      border: solid #8f2741 0.1rem;
      box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 174, 239, 0.5);
      color: #fff;
      background: #fff; }
  .inputGroup.error select {
    border: solid #db9fa5 0.1rem;
    color: #b94a48; }
    .inputGroup.error select:focus {
      border: solid #8f2741 0.1rem;
      box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 174, 239, 0.5);
      color: #fff; }
  .inputGroup.error .radio label, .inputGroup.error .checkbox label {
    color: #b94a48; }
    .inputGroup.error .radio label:before, .inputGroup.error .checkbox label:before {
      border: solid #db9fa5 0.1rem;
      background: #f6e9e9; }
    .inputGroup.error .radio label:focus, .inputGroup.error .radio label:hover, .inputGroup.error .checkbox label:focus, .inputGroup.error .checkbox label:hover {
      color: #fff; }
      .inputGroup.error .radio label:focus:before, .inputGroup.error .radio label:hover:before, .inputGroup.error .checkbox label:focus:before, .inputGroup.error .checkbox label:hover:before {
        border: solid #8f2741 0.1rem;
        box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 174, 239, 0.5);
        background-color: #fff; }

/* Grid */
body {
  margin: 0;
  padding: 0;
  background: #5d5d5d; }

.container {
  position: relative;
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box; }

.column, .columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
  padding: 2.0rem 5.0rem 5.0rem 5.0rem; }

/* For devices larger than 550px */
@media (min-width: 550px) {
  /*.container {
    width: 80%; } //for a centered page*/
  /*.column,
  .columns {
    margin-left: 4%; }*/
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }
  .one.column,
  .one.columns {
    width: 4.66666666667%; }
  .two.columns {
    width: 13.3333333333%; }
  .three.columns {
    width: 22%; }
  .four.columns {
    width: 30.6666666667%; }
  .five.columns {
    width: 39.3333333333%; }
  .six.columns {
    width: 48%; }
  .seven.columns {
    width: 56.6666666667%; }
  .eight.columns {
    width: 65.3333333333%; }
  .nine.columns {
    width: 74.0%; }
  .ten.columns {
    width: 82.6666666667%; }
  .eleven.columns {
    width: 91.3333333333%; }
  .twelve.columns {
    width: 100%;
    margin-left: 0; }
  .one-third.column {
    width: 30.6666666667%; }
  .two-thirds.column {
    width: 65.3333333333%; }
  .one-half.column {
    width: 50%; } }

img.scale-with-grid {
  max-width: 100%;
  height: auto; }

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

/* Application styles */
.providers {
  display: block;
  position: absolute;
  right: 0;
  background: #8f2741;
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
  border-radius: 1.2rem;
  padding: 1.2rem 1.9rem 1.2rem 1.9rem;
  font-size: 1.8rem;
  z-index: 3; }

nav {
  position: fixed;
  top: 0;
  width: 90%;
  max-width: 1500px;
  z-index: 4; }
  nav .menu {
    z-index: 10;
    -webkit-box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.2);
    display: block;
    background: #7e1329;
    color: #fff;
    font-size: 1.8rem;
    position: relative; }
    nav .menu ul {
      list-style: none;
      display: inline-block;
      margin: 0;
      padding: 0; }
      nav .menu ul li {
        display: inline-block;
        padding: 2.1rem 4.8rem 2.1rem 4.8rem;
        line-height: 2.2rem;
        box-sizing: border-box;
        -webkit-user-select: none;
        /* Chrome all / Safari all */
        -moz-user-select: none;
        /* Firefox all */
        -ms-user-select: none;
        /* IE 10+ */
        user-select: none; }
        nav .menu ul li:hover {
          background: #5b0d1d; }
        nav .menu ul li a {
          color: #fff; }
          nav .menu ul li a:hover {
            text-decoration: none; }
        nav .menu ul li.active {
          background: #5b0d1d; }
  nav .providers {
    -webkit-border-radius: 0rem;
    -moz-border-radius: 0rem;
    border-radius: 0rem;
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    z-index: 3; }

.header {
  z-index: 1;
  position: relative;
  background: #7e1329;
  margin-top: 19.6rem;
  height: 38.0rem;
  -webkit-box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.2);
  border: solid #000 1px; }
  .header .title {
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    padding-top: 6.0rem; }
    .header .title #title-understanding {
      display: block;
      font-size: 5.5rem;
      line-height: 5.5rem; }
    .header .title #title-zika {
      display: block;
      font-size: 23.0rem;
      line-height: 20.0rem; }
  .header .header-note {
    font-size: 1.4rem;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 2.0rem;
    margin-top: 2.0rem; }
  .header .providers {
    bottom: 0;
    margin-bottom: -2rem;
    -webkit-box-shadow: 0 0 0.8rem 0 rgba(255, 255, 255, 0.4);
    -moz-box-shadow: 0 0 0.8rem 0 rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 0.8rem 0 rgba(255, 255, 255, 0.4); }

.article {
  z-index: 1;
  background: #1a1a1b; }
  .article h2 {
    text-transform: uppercase; }
  .article p {
    font-size: 1.8rem;
    line-height: 2.8rem; }
  .article .column {
    border-right: #333334 solid 1px;
    border-top: #333334 solid 1px; }
  .article #prevent ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .article #prevent ul .image, .article #prevent ul .description {
      display: inline-block; }
    .article #prevent ul .image {
      height: 4.5rem;
      width: 4.5rem;
      background: #48484a;
      margin-right: 1.2rem; }
    .article #prevent ul .description {
      vertical-align: top; }

/* Larger than mobile */
/* Larger than tablet */
@media (max-width: 760px) {
  .menu {
    z-index: 5; }
    .menu ul {
      height: 100%;
      width: 15.0rem; }
      .menu ul li {
        display: block;
        padding-left: 2.0rem;
        background: #7e1329; } }

/* Larger than desktop */
/* Larger than Desktop HD */
